<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pjkh.jira</string>
	<key>connections</key>
	<dict>
		<key>2FBCD0CF-8E8A-426C-8907-BEA2D84E8583</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46ACFD50-B106-4BDE-82EC-7F509D06A2A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>46ACFD50-B106-4BDE-82EC-7F509D06A2A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2E5F683-0D8C-4BC6-B1C2-C1B65F45DB42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2FD57B4-2CE0-489E-AD3E-A8B6D160C6DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46ACFD50-B106-4BDE-82EC-7F509D06A2A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Philip Hallstrom</string>
	<key>description</key>
	<string>Open Jira ticket in browser given ticket id on clipboard.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string>Open the JIRA ticket from your clipboard.</string>
				<key>text</key>
				<string>Jira: Open ticket in browser</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2FBCD0CF-8E8A-426C-8907-BEA2D84E8583</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>bash jira.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46ACFD50-B106-4BDE-82EC-7F509D06A2A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Jira</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C2E5F683-0D8C-4BC6-B1C2-C1B65F45DB42</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>jiraconfig</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>bash jira.sh configure</string>
				<key>subtext</key>
				<string>JIRA Server</string>
				<key>title</key>
				<string>Jira: Configure options.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2FD57B4-2CE0-489E-AD3E-A8B6D160C6DA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2FBCD0CF-8E8A-426C-8907-BEA2D84E8583</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>46ACFD50-B106-4BDE-82EC-7F509D06A2A8</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B2FD57B4-2CE0-489E-AD3E-A8B6D160C6DA</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>C2E5F683-0D8C-4BC6-B1C2-C1B65F45DB42</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/phallstrom/AlfredJira</string>
</dict>
</plist>
